body {
  margin: 0;
  overflow: hidden;
}

.presenter {
  display: none;
}

.presenter.show {
  display: flex;
}

@media (max-width: 1200px) {
  .presenter {
    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .canvases {
    display: flex;
  }
}

.presenter-notes {
  padding: 20px;
}
